:root {
  --main-font: kaushan script;
  --secondary-font: kelly slab;
}

body {
  background: linear-gradient(
    #ff99ff 0%,
    #f1ebff 10%,
    #a6d7ff 17%,
    #c2f6ff 25%,
    #f1ebff 30%,
    #ff99ff 40%,
    #eeffff 45%,
    #a6d7ff 55%,
    #ff99ff 65%,
    #f1ebff 75%,
    #a6d7ff 85%,
    #c2f6ff 90%,
    #f1ebff 100%
  );
  background-attachment: fixed;
  font-family: kelly slab;
}
.main-content {
  text-align: center;
  border-radius: 15px;
  margin: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #ffffff;
  padding: 5%;
}

.hero {
  text-align: center;
}
.hero h1 {
  margin-top: -140px;
  
}
.hero h2 {
  font-family: var(--main-font);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  margin-top: -100px;
  margin-bottom: 20px;
}
.hero p {
  font-family: var(--main-font);
}
.gallery {
  margin-top: 10px;
}
.heading {
  font-size: 48px;
  font-family: var(--main-font);
}

button {
  background-color: #a6d7ff;
  border-radius: 10%;
  box-shadow: 7px 3px 10px #ffbcff;
  padding: 10px 10px;
  margin: 7px;
  font-weight: bolder;
  font-size: large;
  border: none;
}
button:hover {
  transform: rotate(3deg);
  transition: 300ms;
}

.cake {
  min-width: 200px;
  max-width: 200px;
  border-radius: 10px;
  margin: 10px;
}

.navbar {
  background-color: #ffffff;
  border-radius: 15px;
}
.container {
}

.tiny-logo {
  width: 80px;
  float: left;
}
.navbar-buttons {
  display: flex;
  
  
}
.navbar-btn {
  background-color: #ffbcff;
  box-shadow: 7px 3px 10px #a6d7ff;
  margin: 20px;
  width: 100px;
  float: end;
  
}

.gallery p {
 margin: 20px;
}

.cake-name {
  font-family: var(--main-font);
  font-size: larger;
  padding-top: 40px;
}

.artist-img {
  border-radius: 15px;
  margin: 10px 10px 40px;
  padding: 15px;
  box-shadow: 5px 5px 25px #ffbcff;
}
h2.about {
  font-family: var(--main-font);
  margin-top: -80px;
}

p.about {
  display: block;
  margin: 0 auto;
  padding-left: 30px;
  text-align: justify;
}